body {
    overflow-x: hidden;
}
#mainNav {
    background-color: white;
    height: 5rem;
    width: 100%;
    text-align: center;
    padding-top: 1.75%;
    border-color: white;
}
#mainNav a {
    text-decoration: none;
    color: black;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1.5em;
    font-size: 1.2rem;
}
#logo {
    height: 4rem;
    width: 4rem;
    float: left;
    margin-top: -1%;
    margin-left: 1%;
}
#dash-container {
    background-color: black;
    color: white;
    height: 100vh;
    padding: 2%;
}
#dash-container h2{
    /* margin: 2%; */
    font-family: "Playwrite SK", cursive;
}

/*Cards*/
#cardDisplay{
    border-radius: 10px;
    height: 32rem;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    color: black;
}

.visit {
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px #1d2e28;
    border-radius: 7px;
    width: 40%;
    height: 10rem;
    margin-right: 2em;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 1em;
    padding: 1em;
    border-top: 3px dashed gray;
}
.visit:hover {
    cursor: pointer;
}
li {
    list-style: none;
}
.time {
    margin: 0px;
    color: #ca6634;
    margin-right: 5px;
    margin-left: -2%;
    padding-top: 0.5em;
}
.date {
    font-size: 3em;
}
.month {
    font-size: 1.2em;
}
.content {
    margin-left: 3%;
}
.doctorName {
    position: relative;
    margin-top: -4em;
}
.doctorName {
    color: #1d2e28;
    font-weight: 600;
    float: top;
    font-size: 1.7em;
}
.hospitalName {
    color: teal;
    font-weight: 400;
    font-weight: bold;
    font-size: 1.5em;
}

#scanner {
    float: right;
    height: 4rem;
    width: 5rem;
    margin-top: -1%;
    margin-right: 1%;
}